---
layout: default
---

<section class="pageTitleWrapper">
  <p class="pageTitle">coffee</p>
</section>

コーヒー大好き同僚からスペシャリティコーヒーという概念を導入された。<br>
どんなものかよくわからんが、<a href="https://europeancoffeetrip.com/">このサイト</a>にリストされているヨーロッパのカフェに行っておけば美味しい確率が高いってことも同時に教わったので、旅行の先々に行くことにしている。<br>
このページにはその時の簡単な記録を写真と共に記す。<br>
★ がついているのはお気に入りの場所。

<section class="postsList">
  {% assign coffee = site.coffee | sort: 'date' | reverse %}
  {%- for post in coffee -%}
  {% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
  {% capture nyear %}{{ post.next.date | date: '%Y' }}{% endcapture %}
  {% if year != nyear %}
  <div class="yearHeader">{{ post.date | date: '%Y' }}</div>
  {% endif %}

  <div class="postItem">
    <a class="postLink" href="{{ post.url | relative_url }}">{{ post.title }}</a>
    <span class="postDate">{{ post.date | date: "%Y-%m-%d" }}</span>
  </div>
  {%- endfor -%}
</section>
