<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head  prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/article#">
    {% include ga.html %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <meta property="og:title" content="{{ page.title }}" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://sotaro.io" />
    <!-- <meta property="og:image" content="{{ "/assets/ogp.png" | absolute_url }}"> -->
    <meta property="og:image" content="https://ogpapi.herokuapp.com/{{ page.title }}">
    <meta property="og:site_name" content="{{ site.title }}" />
    <meta property="og:description" content="random notes" />
    <meta name="twitter:card" content="summary_large_image" />
    <title>{{ page.title }} - {{ site.title }}</title>
    <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">

    <link rel="stylesheet" href="{{ "/assets/css/zenburn.css" | relative_url }}">
    <script src="{{ "/assets/js/highlight.pack.js" | relative_url }}"></script>
    <script>hljs.initHighlightingOnLoad();</script>

  </head>
  <body>

    <main>
      <header>
        <div class="logoWrapper">
          <a href="/">
            <img class="logo" src="/assets/logo.svg" alt="" />
          </a>
        </div>
        <nav>
          <div class="links">
            <a class="linkItem" href="/">posts</a>
            <a class="linkItem" href="/ja">posts (ja)</a>
            <a class="linkItem" href="/daily">daily</a>
            <a class="linkItem" href="/reading">reading</a>
            <a class="linkItem" href="/photos">photos</a>
            <a class="linkItem" href="/about">about</a>
            <a class="linkItem" href="https://github.com/sobamchan">github</a>
          </div>
        </nav>
      </header>

      <section class="content">
        {{ content }}
      </section>

    </main>

  </body>
</html>
