<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head  prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/article#">
    {% include ga.html %}
    {% include text-expand.html %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <meta property="og:title" content="{{ page.title }}" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://sotaro.io" />
    <!-- <meta property="og:image" content="{{ "/assets/ogp.png" | absolute_url }}"> -->
    <meta property="og:image" content="https://ogpapi.herokuapp.com/{{ page.title }}">
    <meta property="og:site_name" content="{{ site.title }}" />
    <meta property="og:description" content="random notes" />
    <meta name="twitter:card" content="summary_large_image" />
    <title>{{ page.title }} - {{ site.title }}</title>
    <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">

    <link rel="stylesheet" href="{{ "/assets/css/solarized-light.css" | relative_url }}">
    <script src="{{ "/assets/js/highlight.pack.js" | relative_url }}"></script>
    <script>hljs.initHighlightingOnLoad();</script>

  </head>
  <body>

    <main>
      <header>
        <div class="logoWrapper">
          <a href="/tldrs" style="font-size:30px;">
	    TLDRs
          </a>
        </div>
      </header>

      <section class="content">
        {{ content }}
      </section>

      <div class="PageNavigation">
        {% if page.previous.url %}
          <a class="prev" href="{{page.previous.url}}">&laquo; {{page.previous.title}}</a>
        {% endif %}
        {% if page.next.url %}
          <a class="next" href="{{page.next.url}}">{{page.next.title}} &raquo;</a>
        {% endif %}
      </div>

    </main>

  </body>
</html>

